<div class="conteudo-titulo">
    <p>Professores</p>
</div>

<!-- TODO: adicionar fututramente um componente para erros-->
<form style="background-color: white;" class="p-2 mb-3" action="" [formGroup]="form" (ngSubmit)="gravar()">
    <div class="d-flex flex-row mb-3">
        <div class="blocoInput" style="width: 30%; margin-right: 20px;">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome professor" formControlName="nome">

            <div *ngIf="campoInvalido('nome')" class="containerErro">Nome é obrigatório.</div>
        </div>

        <div class="blocoInput" style="width: 40%;">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="Endereço professor" formControlName="endereco">

            <div *ngIf="campoInvalido('endereco')" class="containerErro">Endereço é obrigatório.</div>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-lg-6">
            <label for="disciplina" class="form-label">Disciplina ministrada</label>
            <select class="form-select" name="disciplina" id="disciplina" formControlName="disciplina">
                <option selected value="">Selecione...</option>
                <option *ngFor="let disc of disciplinas" value="{{disc.id}}">{{disc.nome}}</option>
                <!--<option value="1-Português">Português</option>
                <option value="3-Inglês">Inglês</option>
                <option value="5-Espanhol">Espanhol</option>
                <option value="6-Matemática">Matemática</option>-->
            </select>

            <div *ngIf="campoInvalido('disciplina')" class="containerErro">Disciplina é obrigatória.</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="limparForm()">Cancelar</button>

    <div>{{form.value | json}}</div>
    <div>{{form.valid | json}}</div>
</form>

<app-tabela [header]="header"
              [props]="props"
              [registros]="professores"
              [editando]="editando"
              (onEditar)="editar($event)"
              (onExcluir)="excluir($event)">
</app-tabela>