<app-alert></app-alert>

<div class="conteudo-titulo">
    <p>Professores</p>
</div>

<form style="background-color: white;" class="p-2 mb-3" action="" [formGroup]="form" (ngSubmit)="gravar()">
    <div class="d-flex flex-row mb-3">
        <div class="blocoInput" style="width: 30%; margin-right: 20px;">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome professor" formControlName="nome">

            <div *ngIf="campoInvalido('nome')" class="containerErro">Nome é obrigatório.</div>
        </div>

        <div class="blocoInput" style="width: 40%;">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" placeholder="Endereço professor" formControlName="endereco">

            <div *ngIf="campoInvalido('endereco')" class="containerErro">Endereço é obrigatório.</div>
        </div>
    </div>

    <div class="d-flex flex-row mb-3">
        <div class="col-lg-6 segunda-linha-esq" style="margin-right: 20px;">
            <label for="disciplinas" class="form-label">Disciplinas Ministradas</label>
            <select multiple class="form-select" name="disciplinas" id="disciplinas" formControlName="disciplinas" 
                [compareWith]="compareFn">
                <!--<option selected value="">Selecione...</option>-->
                <option *ngFor="let disc of disciplinas" [value]="disc">{{disc.nome}}</option>
            </select>

            <!--<div *ngIf="campoInvalido('disciplinas')" class="containerErro">Disciplina é obrigatória.</div>-->
        </div>

        <div class="col-mb-2">
            <label for="salario" class="form-label">Salário</label>
            <input type="text" class="form-control" id="salario" formControlName="salario" mask="separator.2" 
                thousandSeparator="." placeholder="Ex.: 1.234,56" />

            <div *ngIf="campoInvalido('salario')" class="containerErro">Salário é obrigatório.</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primario">Salvar</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="limparForm()">Cancelar</button>

    <!--
    <div>{{form.value | json}}</div>
    <div>{{form.valid | json}}</div>
    -->
</form>

<app-tabela [header]="header"
              [props]="props"
              [registros]="professores"
              [editando]="editando"
              (onEditar)="editar($event)"
              (onExcluir)="excluir($event)">
</app-tabela>

<!--
<app-popover buttonIcon="book">
    <p class="d-flex">
        <ng-container *ngFor="let disciplina of testeArr">
            {{disciplina.nome + ', '}}
        </ng-container>
    </p>
</app-popover>
-->