<h1>Disciplinas</h1>

<hr>

<h2>Cadastrar</h2>

<p>Use este formulário para cadastrar ou editar uma disciplina.</p>

<!-- 
  two-way data binding -> [(ngModel)] () -> evento e [] -> alteração prop html. 
                       -> Funciona tanto do tempate para o controller e vice versa
-->
<form style="background-color: lightgray;" class="p-3" action="" #formDisciplina="ngForm" (ngSubmit)="salvar()">

  <div class="mb-3">
    <label for="nome" class="form-label">Nome <font style="color: red;">*</font></label>
    <input style="width: 20%;" type="text" class="form-control" name="nome" [(ngModel)]="nome" required>
    <!--Por ser two way databiding, o valor alterado no template é atualizado aqui <span>{{nome}}</span>-->
  </div>

  <div class="mb-3">
    <label for="descricao" class="form-label">Descrição</label>
    <textarea style="width: 30%;" class="form-control" cols="30" rows="4" name="descricao" [(ngModel)]="descricao"></textarea>
    <!--<span>{{descricao}}</span>-->
  </div>

  <button [style.cursor]="!formDisciplina.valid ? 'not-allowed' : 'pointer'" class="btn btn-primary" 
      [disabled]="!formDisciplina.valid">Salvar</button>
  <button style="margin-left: 10px;" type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
</form>

<!--<ul>
  <li *ngFor="let disciplina of disciplinas" (click)="selecionar(disciplina)">
    <p [class.selecionado]="selecionado == disciplina">{{disciplina.nome}}: </p>
    <p *ngIf="selecionado == disciplina">{{disciplina['descricao']}}</p>
  </li>
</ul> -->

<table id="tableDisciplina" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Operação</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let disciplina of disciplinas; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{disciplina.nome}}</td>
      <td>{{disciplina.descricao}}</td>

      <td>
        <button style="padding: 1px 2px;" class="btn btn-warning" (click)="editar(disciplina)">Editar</button>
        &nbsp;
        <button style="padding: 1px 2px;" class="btn btn-danger" (click)="excluir(disciplina)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>